body {
  background-color: #3F3D34;
  font-family: Raleway;
}

.navbar {
  border-radius: 0;
  padding: 10px;
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.51);
}

.nav-title {
  font-family: Arizonia;
  font-size: 125%;
}

.app-body {
  background-color: white;
  display: flex;
  ;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offset {
  position: relative;
  bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.22) -2px 9px 5px 0px;
}

.scroll {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.back-btn-col {
  margin-top: 20px;
}

.headings {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: bold;
}

.sub-headings {
  font-style: italic;
  color: #9E9E9E;
}

.fa {
  font-size: 1.5em;
}

.card {
  margin-top: 20px;
  box-shadow: -1px 4px 5px #9E9E9E;
}

.tiles {
  margin: 20px;
  text-align: center;
  height: 300px;
  color: #fff;
  box-shadow: -1px 4px 5px #9E9E9E;
  text-transform: uppercase;
}

.btn-explorer {
  position: relative;
  bottom: -150px;
}

.people-tile {
  background-image: url('/images/icon.png');
  background-size: cover;
  background-position: center;
}

.people-tile:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.starship-tile {
  background-image: url('https://cdn2.iconfinder.com/data/icons/star-wars-5/24/Star-destroyer-512.png');
  background-size: cover;
  background-position: center;
}

.film-tile {
  background-image: url('https://cdn2.iconfinder.com/data/icons/movie-8/500/camera-256.png');
  background-size: auto;
  background-position: center;
}

.dd {
  color: #747474;
}

.back {
  margin-top: 30px;
}

.profile-pic {
  background-image: url('https://maxcdn.icons8.com/Share/icon/ios7/Logos//star_wars1600.png');
  background-size: cover;
  background-position: center;
  height: 200px;
}

footer {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.btn {
  border-radius: 0px;
  margin: 5px;
}

.btn-primary {
  color: #337AB7;
  background-color: #000000;
  border-color: #9E9E9E;
}

.list-group-item:hover {
  transform: scale(1.05);
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail {
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.43)
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid yellow;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* General styles and layout */

.starwars {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.byline {
  position: absolute;
  color: #fff;
  font-family: "Raleway";
  font-size: 3.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}


/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars {
    font-size: 7px;
  }
}
